.grid-terminal {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 personajes por fila */
    gap: 20px;
    margin-top: 20px;
}

.char-card {
    border: 2px solid #00ff41;
    padding: 20px;
    background: rgba(0, 59, 0, 0.3);
    text-align: center;
    position: relative;
}

.char-card .id-tag {
    font-size: 0.7em;
    position: absolute;
    top: 5px;
    left: 5px;
    color: #008f11;
}

.char-card.eliminated {
    border-color: #ff0000;
    color: #ff0000;
    opacity: 0.2;
    text-decoration: line-through;
}
